
<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Allday</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<div id="calendar">
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.allday %></td>
        <td><%= event.start %></td>
        <td><%= event.end %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>

</div>

<script>
//   $(document).ready(function() {

//     // page is now ready, initialize the calendar...

//     $('#calendar').fullCalendar(
//     {
//       events: [
//         {
//             title  : 'event1',
//             start  : '2015-08-28'
//         },
//         {
//             title  : 'event2',
//             start  : '2015-08-29',
//             end    : '2010-08-30'
//         },
//         {
//             title  : 'event3',
//             start  : '2015-08-31T12:30:00',
//             allDay : false // will make the time show
//         }
//     ]
//         // put your options and callbacks here
//     })
// });


 // <script>
$(document).ready(function() {

  $('#calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    events: {
      url: '/events',
      type: 'GET',
      color: 'black',     // an option!
      textColor: 'yellow' // an option!
    }

  })

});

</script>

